$fieldTextColor: #ddd;
$fieldBgColor: #000;
$fieldBorderColor: #555;
$fieldBorderThickness: 1px;
$fieldBorderRadius: 3px;

$specialTextColor: #000;
$specialBgColor: #eee;

$errorTextColor: #f00;
$errorBorderColor: #f00;

$successTextColor: #fff;
$successBorderColor: #fff;

$disableBgColor: #000;
$disableTextColor: #777;

$fieldHeight: 50;
$fieldTextHeight: 20;
$font: "Helvetica";

