.irform-array-item {
	@extend %group;
}
.irform-array-item:not(.inline) {
	margin-bottom: 5px;
}

.irform-array-add {
	@extend %inline;
}
.irform-array-item-content {
	width: 100%;
	flex-shrink: 1;
	order: 1;
}
.irform-array-item.inline {
	margin-right: 5px;
	margin-bottom: 5px;
}

// On mouse over
.irform-array:not(.irform-array-drag) {
	.irform-array-item:hover {
		.irform-array-item-up,
		.irform-array-item-down,
		.irform-array-item-del {
			display: inline-block;
		}
	}
	.irform-array-item:hover:not(.inline) {
		.irform-array-item-content {
			margin-right: 5px;
		}
	}
}

.irform-array-item-up,
.irform-array-item-down,
.irform-array-item-del {
	display: none;
	flex-shrink: 0;
}
.irform-array-item-up {
	order: 2;
}
.irform-array-item-down {
	order: 3;
}
.irform-array-item-del {
	order: 4;
}

// Drag and drop
.irform-array-drag {
	cursor: pointer;
}

.irform-array-item-drag {
	z-index: 99999;
	position: fixed;
	pointer-events: none;
	touch-action: none;
}

.irform-array-placeholder {
	vertical-align: top;
}

/* Tags specific */
.irform-array-tags-tag {
	background-color: $fieldBgColor;

	.irform-array-item-del {
		display: inline-block;
		@extend %clickable-text;
	}
}

/* Images specific */
.irform-array-images {
	background-color: $fieldBgColor;
	display: inline-block;
	border: $fieldBorderThickness solid rgba(0, 0, 0, 0.1);
	border-radius: $fieldBorderRadius;
	padding: 5px;

	img {
		width: 150px;
		height: 200px;
		object-fit: contain;
		display: block;
		margin-top: -1em;
	}

	.irform-array-images-del {
		position: relative;
		left: calc(100% - 1em);
		opacity: 0.5;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}
}
