$switchSize: $fieldHeight * 0.6875; //22

input.irform[type=checkbox] {
	display: none;

	+ label {
		position: relative;
		padding-left: #{$fieldHeight - 2}px;
		cursor: pointer;
		@extend %single-line;
		@extend %inline;
		&:before {
			margin: 5px 0;
			content: '';
			background-color: $fieldBgColor;
			position: absolute;
			left: 0;
			top: 0;
			width: #{$switchSize}px;
			height: #{$switchSize}px;
			@extend %clickable;
			@extend %border;
			&:hover {
				@extend %hover;
			}
		}
	}
	&:checked + label:after {
		content: "\2713";
		font-size: #{$fieldTextHeight * 1.2}px;
		font-weight: bold;
		line-height: #{$fieldHeight}px;
		color: $fieldTextColor;
		position: absolute;
		top: 0;
		left: 4px;
	}
	&:focus + label:before {
		@extend %focus;
	}
}
.irform-inline input.irform[type=checkbox] + label {
	min-width: #{$fieldHeight * 1.5}px;
	margin-right: #{$fieldHeight / 2}px;
	@extend %inline;
}

// Disable
.disable input.irform[type=checkbox] + label,
input.irform[type=checkbox] + label.disabled,
input.irform[type=checkbox] + label.disable {
	@extend %disable-text;
	&:before {
		@extend %disable;
	}
}

// Error specific
.error input.irform[type=checkbox] + label:before,
input.irform[type=checkbox].error + label:before {
	@extend %error-border;
}
