$fieldTextColor: #111;
$fieldBgColor: #fff;
$fieldBorderColor: #aaa;
$fieldBorderThickness: 1px;
$fieldBorderRadius: 3px;

$specialTextColor: #444;
$specialBgColor: #eee;

$errorTextColor: #a00;
$errorBorderColor: #a00;

$successTextColor: #080;
$successBorderColor: #080;

$disableBgColor: #eee;
$disableTextColor: #777;

$fieldHeight: 32;
$fieldTextHeight: 16;
$font: "Helvetica";
