/* All */
.irform,
.irform-item {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
	font-size: 14px;
	line-height: 16px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	box-sizing: border-box;
	width: 100%;
	vertical-align: middle;
	padding: 0px 6px;
}
.irform {
	color: #111;
	background-color: #fff;
}

/* Groups */
.irform-group,
.irform-item,
.irform-array-item {
	flex-flow: row nowrap;
	display: flex;
	width: 100%;
}
.irform-group button {
	flex-shrink: 0;
}

/* Inline element */
.irform.inline,
.irform-array-item.inline,
button.irform {
	display: inline-block;
	width: auto;
	line-height: 32px;
	height: 32px;
}

/* Wrapper */
.irform-item {
	margin: 10px 0px;
}
.irform-caption {
	text-align: right;
	width: 150px;
	white-space: normal;
	flex-shrink: 0;
	font-weight: bold;
}
.irform-elements {
	padding-left: 10px;
	width: 100%;
}

/* Wrapper on small devices */
@media screen and (max-width: 768px) {
	.irform-item {
		flex-flow: column nowrap;
		margin: 5px 0px;
	}
	.irform-caption {
		text-align: left;
		width: 100%;
		margin-bottom: 5px;
	}
	.irform-elements {
		padding-left: 0;
	}
}

/* Multiline elements */
.irform-caption,
textarea.irform {
	padding-top: 8px;
}

/* Singleline elements */
input.irform,
select.irform,
button.irform {
	line-height: 32px;
	height: 32px;
}

/* Border */
.irform.border,
input.irform,
textarea.irform,
select.irform,
button.irform,
.mce-tinymce {
	border: 1px solid #aaa;
	border-radius: 3px;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Make nice groups */
.irform-group > input ~ button,
.irform-group > button ~ input,
.irform-group > button ~ button,
.irform.dock-left {
	border-left: 0;	
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.irform-group > input:first-child,
.irform-group > button:first-child,
.irform-group:nth-last-child(2),
.irform-group:nth-last-child(3),
.irform-group:nth-last-child(4),
.irform-group:nth-last-child(5),
.irform-group:nth-last-child(6),
.irform.dock-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Hover */
.irform.clickable:hover,
input.irform:hover,
textarea.irform:hover,
select.irform:hover,
button.irform:hover,
.mce-tinymce:hover,
/* Focus */
.irform.clickable:focus,
input.irform:focus,
textarea.irform:focus,
select.irform:focus,
button.irform:focus,
.mce-tinymce.focus  {
	border: #35a5e5 1px solid;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* Clickable */
.irform.clickable,
button.irform,
select.irform {
	cursor: pointer;
}

/* Textarea specific */
textarea.irform {
	height: 82px;
}

/* Button specific */
button.irform {
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#fff,#eee);
	background-image: -moz-linear-gradient(top,#fff,#eee);
	background-image: -ms-linear-gradient(top,#fff,#eee);
	background-image: -o-linear-gradient(top,#fff,#eee);
	background-image: linear-gradient(top,#fff,#eee);
	color: #444;
	cursor: pointer;
	text-align: center;
	min-width: 32px;
	width: auto;
	padding: 0 8px;
}
button.irform:hover {
	background-color: #fff;
	background-image: -webkit-linear-gradient(top,#fff,#ccc);
	background-image: -moz-linear-gradient(top,#fff,#ccc);
	background-image: -ms-linear-gradient(top,#fff,#ccc);
	background-image: -o-linear-gradient(top,#fff,#ccc);
	background-image: linear-gradient(top,#fff,#ccc);
}
button.irform:active {
	background-color: #ccc;
	background-image: -webkit-linear-gradient(top,#ccc,#fff);
	background-image: -moz-linear-gradient(top,#ccc,#fff);
	background-image: -ms-linear-gradient(top,#ccc,#fff);
	background-image: -o-linear-gradient(top,#ccc,#fff);
	background-image: linear-gradient(top,#ccc,#fff);
}

/* Array specific */
.irform-array-add {
	display: inline;
}
.irform-array-item-content {
	width: 100%;
	flex-shrink: 1;
	order: 1;
	margin-right: 5px;
}
.irform-array-item:hover .irform-array-item-up,
.irform-array-item:hover .irform-array-item-down,
.irform-array-item:hover .irform-array-item-del {
	display: inline-block;
}
.irform-array-item:not(.inline) {
	margin-bottom: 5px;
}
.irform-array-item-up,
.irform-array-item-down,
.irform-array-item-del {
	display: none;
	flex-shrink: 0;
}
.irform-array-item-up {
	order: 2;
}
.irform-array-item-down {
	order: 3;
}
.irform-array-item-del {
	order: 4;
}

/**** Status adder to elements ****/

/* Error */
.irform-item.error {
	color: #a00;
}
.error input,
.error select,
.error textarea,
.error iframe,
.error .mce-tinymce,
input.error,
select.error,
textarea.error,
.mce-tinymce.error {
	color: #a00;
	border-color: #a00;
}

/* Warning */

/* Success */
.irform-item.success {
	color: #080;
}
.success input,
.success select,
.success textarea,
.success iframe,
.success .mce-tinymce,
input.success,
select.success,
textarea.success,
.mce-tinymce.success {
	color: #080;
	border-color: #080;
}

/* Required */
.irform-item.required .irform-caption:after {
	content: "*";
}

/* Disabled */
.disable .irform,
.irform:disabled,
.irform.disable {
	background-color: #eee;
	color: #777;
}

/* Modal */
.irform-modal {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.irform-modal-content {
	padding: 30px 30px;
	background-color: #fff;
	max-height: 80%;
	max-width: 80%;
	min-height: 200px;
	min-width: 400px;
	overflow: auto;
	border-radius: 5px;
}