.irnotify {
	width: 100%;
	> div {
		margin: 5px 0;
	}
	> .error {
		background-color: rgba(242, 222, 222, 0.1);
		@extend %error;
	}
	> .success {
		background-color: rgba(223, 240, 216, 0.1);
		@extend %success;
	}
	> .info {
		background-color: rgba(217, 237, 247, 0.1);
	}
	> .warning {
		background-color: rgba(252, 248, 227, 0.1);
	}
}

.irnotify-entry {
	@extend %irform;
	padding: 5px 10px;
	displaY: flex;
	flex-flow: row nowrap;
	.message {
		width: 100%;
	}
	.delete {
		margin-left: 10px;
		flex-shrink: 0;
		width: auto;
		text-align: right;
		@extend %clickable-text;
	}
}