.irform,
.irform-item,
%irform {
	font-family: $font;
	font-size: #{$fieldTextHeight}px;
	line-height: #{$fieldTextHeight}px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	box-sizing: border-box;
	width: 100%;
	vertical-align: middle;
	padding: 0px 6px;
}
.irform {
	color: $fieldTextColor;
	background-color: $fieldBgColor;
}

// Groups
.irform-group,
.irform-item,
%group {
	flex-flow: row nowrap;
	display: flex;
	width: 100%;
}
.irform-group > input ~ button,
.irform-group > button ~ input,
.irform-group > button ~ button,
.irform.dock-left {
	border-left: 0;	
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.irform-group > input:first-child,
.irform-group > button:first-child,
.irform-group:nth-last-child(2),
.irform-group:nth-last-child(3),
.irform-group:nth-last-child(4),
.irform-group:nth-last-child(5),
.irform-group:nth-last-child(6),
.irform.dock-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.irform-item.required .irform-caption:after {
	content: "*";
}

.irform.border,
%border {
	border: $fieldBorderThickness solid rgba(0, 0, 0, 0.1);
	border-bottom: $fieldBorderThickness solid $fieldBorderColor;
	border-radius: $fieldBorderRadius;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

%single-line {
	line-height: #{$fieldHeight}px;
	height: #{$fieldHeight}px;
}

%multi-line {
	padding-top: 8px;
}

.irform.clickable,
%clickable {
	cursor: pointer;
	transition: background-color 0.4s ease;
	&:hover {
		@extend %hover;
		background-color: $fieldBgColor;
	}
	&:focus {
		@extend %focus;
	}
}

%clickable-text {
	opacity: 0.5;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}

.irform.inline,
.irform-inline,
.irform-array-item.inline,
%inline {
	display: inline-block;
	width: auto;
	@extend %single-line
}

%hover {
	border-color: #35a5e5;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

%focus {
	border-color: #35a5e5;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

// Error specific
.irform-item.error,
%error {
	color: $errorTextColor;
	transition: color 0.4s ease;
}
%error-border {
	border-color: $errorBorderColor;
	transition: border-color 0.4s ease;
}

// Success specific
.irform-item.success,
%success {
	color: $successTextColor;
	transition: color 0.4s ease;
}
%success-border {
	border-color: $successBorderColor;
	transition: border-color 0.4s ease;
}

// Disable
.disable .irform,
.irform:disabled,
.irform.disable,
%disable {
	color: $disableTextColor;
	background-color: $disableBgColor;
	transition: color 0.4s ease;
	transition: background-color 0.4s ease;
	box-shadow: none;
	cursor: not-allowed;
}
%disable-text {
	color: $disableTextColor;
	transition: color 0.4s ease;
}

@import "layout.scss";
@import "input.scss";
@import "custom.scss";
@import "textarea.scss";
@import "select.scss";
@import "button.scss";
@import "array.scss";
@import "checkbox.scss";
@import "switch.scss";
@import "notify.scss";
@import "modal.scss";
@import "tinymce.scss";
